<script>
var _wive = _wive || {};
_wive.username =  '<%= username %>';
_wive.room_name =  '<%= room_name %>';
_wive.image_url =  '<%= image_url %>';
_wive.link_url =  '<%= link_url %>';
_wive.app_name = '<%= app_name %>';
_wive.visible = '<%= visible %>';
(function() {
    var wv = document.createElement('script'); wv.type = 'text/javascript'; wv.async = true;
    wv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + '<%= Wive.server %>/client.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wv, s);
})();
</script>

<div id="wive-toolbar" class="">

</div>

